<section class="about-section" data-theme="light" id="about-me">
    <h2 class="about-section-header" data-theme="light">ABOUT <span class="highlight"
        data-theme="light">ME</span></h2>
    <div class="about-bio-section">
        <picture>
            <source srcset="/img/about-section-images/about-img-desctop.jpg 1x, 
            /img/about-section-images/about-img-desctop@2x.jpg 2x" media="(min-width: 1280px)">
            <source srcset="/img/about-section-images/about-img-tablet.jpg 1x, 
            /img/about-section-images/about-img-tablet@2x.jpg 2x" media="(min-width: 768px)">
            <source srcset="/img/about-section-images/about-img-mob.jpg 1x, 
            /img/about-section-images/about-img-mob@2x.jpg 2x" media="(max-width: 767px)">
            <img src="/img/about-section-images/about-img-mob.jpg" alt="About me" width="320" height="374" class="about-images">
        </picture>
        <div class="about-me-bio">
            <div class="about-bio-container">
                <h3 class="about-header" data-theme="light">BIO</h3>
            </div>
            <div class="about-panel">
                <p class="about-description" data-theme="light">
                    I'm Lloyd Jefferson, a talented programmer specializing in software development. My expertise spans various programming
                    languages and technologies, and I am dedicated to continually enhancing my skills. I thrive on seeking unconventional
                    and creative solutions to problems, leveraging a high level of analytical skills to effectively tackle even the most
                    challenging tasks.
                </p>
                <p class="about-description" data-theme="light">
                    Adaptable to both independent and team-oriented work, I collaborate seamlessly with colleagues, exchanging ideas and
                    finding optimal solutions. My professional maturity enables me to navigate challenges and stressful situations with a
                    calm demeanor, maintaining a consistently high quality of work. Committed to self-improvement, I actively engage in
                    studying new technologies and practices to stay current with the latest innovations in the field.
                </p>
            </div>
        </div>
    </div>

    <div class="about-education-section">
        <div class="about-me-list">
            <div class="about-education-container">
                <h3 class="about-header" data-theme="light">EDUCATION</h3>
            </div>
            <div class="ab-panel">
                <ul id="about-list" data-theme="light">
                    <li class="about-item" data-theme="light">2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York</li>
                    <li class="about-item" data-theme="light">2019 - 2020 / Advanced Web Development Certificate, GoIT IT School, New York</li>
                    <li class="about-item" data-theme="light">2020 - 2022 / Advanced Blender Animation Techniques, Udemy</li>
                </ul>
            </div>
        </div>
        <div class="about-me-list">
            <div class="about-role-container">
                <h3 class="about-header" data-theme="light">ROLE</h3>
            </div>
            <div class="ab-panel">
                <ul id="about-list-role" data-theme="light">
                    <li class="about-item-role" data-theme="light">Frontend development</li>
                    <li class="about-item-role" data-theme="light">HeadlessCMS, WordPress</li>
                    <li class="about-item-role" data-theme="light">Blender (enjoy)</li>
                </ul>
            </div>
        </div>
    </div>
</section>