<footer class="footer-border">
  <div class="container">
    <div class="footer-wrapper">
      <div class="footer-wrapper-container">
        <a class="name-logo" href="./src/index.html"
          >Lloyd<span class="name-logo-span">Jefferson.</span></a
        >
        <ul class="footer-list">
          <li class="address-footer-list">
            <a
              class="address-footer-link"
              href="https://www.instagram.com/goitclub/"
              aria-label="Перейти в Instagram"
              >Instagram</a
            >
          </li>
          <li class="address-footer-list">
            <a
              class="address-footer-link"
              href="https://www.facebook.com/goITclub/"
              aria-label="Перейти в Facebook"
              >Facebook</a
            >
          </li>
          <li class="address-footer-list">
            <a
              class="address-footer-link"
              href="https://www.linkedin.com/school/goit-start-your-career-in-it"
              aria-label="Перейти в Linkedin"
              >Linkedin</a
            >
          </li>
          <li class="address-footer-list">
            <a
              class="address-footer-link"
              href="https://github.com/Andrej89Ko/command-project-portfolio"
              aria-label="Перейти в GitHub"
              >GitHub</a
            >
          </li>
        </ul>
      </div>
      <div class="container-text">
        <p class="text">© Copyright 2024. Made by LloydJefferson</p>
      </div>
    </div>
  </div>
</footer>
