<header class="additional">
  <div class="header-container" data-theme="light">
    <nav class="header-nav">
      <a class="logo-text" data-theme="light" href="./index.html"
        >Lloyd<span class="logo-span" data-theme="light">Jefferson.</span></a
      >
      <ul class="nav-text">
        <li class="nav-text-item">
          <a href="#about-me" class="nav-text-link" data-theme="light"
            >About me</a
          >
        </li>
        <li class="nav-text-item">
          <a href="#projects" class="nav-text-link" data-theme="light"
            >Projects</a
          >
        </li>
        <li class="nav-text-item">
          <a href="#contacts" class="nav-text-link" data-theme="light"
            >Contacts</a
          >
        </li>
      </ul>
    </nav>
    <button class="menu-button" type="button" data-menu-open>
      <svg class="icon-menu-button" data-theme="light" width="32" height="32">
        <use href="./img/icons-header.svg#menu"></use>
      </svg>
    </button>
  </div>
</header>
