<div class="mobile-menu" data-modal data-theme="light">
  <div class="modal-first" data-theme="light">
    <a class="logo-text" data-theme="light" href="./index.html"
      >Lloyd<span class="logo-span" data-theme="light">Jefferson.</span></a
    >
    <button
      class="modal-close-bth"
      data-theme="light"
      type="button"
      data-menu-close
    >
      <svg
        class="modal-close-bth-icon"
        data-theme="light"
        width="32"
        height="32"
        aria-label="close modal icon"
      >
        <use href="./img/icons-header.svg#close"></use>
      </svg>
    </button>
  </div>
  <div class="modal-second">
    <nav class="modal-nav">
      <ul class="modal-nav-list">
        <li class="modal-nav-item">
          <a class="modal-nav-link" data-theme="light" href="#about-me">
            About me
          </a>
        </li>
        <li class="modal-nav-item">
          <a class="modal-nav-link" data-theme="light" href="#projects">
            Projects
          </a>
        </li>
        <li class="modal-nav-item">
          <a class="modal-nav-link" data-theme="light" href="#contacts">
            Contacts
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
