<section class="myProject" id="projects">
    <div class="container">
        <h2 class="titleMain"><span class="mainNotice">my</span><span class="noticeSpan">projects</span></h2>
        <div class="projectFWrap">
            <ul>
                <li>
                    <picture>
                        <source media="(min-width: 1180px)"
                            srcset="./src/img/imgProjects/imgForDekstop/img.png 1x, ./src/img/imgProjects/imgForDekstop/img2xD.png 2x">
                        <source media="(min-width: 768px)"
                            srcset="./src/img/imgProjects/imgForTablet/img.png 1x , ./src/img/imgProjects/imgForTablet/img2xT.png 2x">
                        <source media="(min-width: 321px)"
                            srcset="./src/img/imgProjects/imgForMobile/img.png 1x, ./src/img/imgProjects/imgForMobile/img2xM.png 2x"
                            alt="walletW">
                        <img src="./src/img/imgProjects/imgForDekstop/img.png" alt="walletW">
                    </picture>
                </li>
                <li>
                    <p class="projectTextTech">react, java script, node js, git</p>
                </li>
                <li>
                    <div class="wrapBtnText">
                        <p class="projectTextTitle">wallet webservice</p>
                        <button type="submit" class="projectBtnVisit">visit<svg class="arrSvg" height="24" width="24">
                                <use href="./src/img/icons.svg#icon-iconarrow"></use>
                            </svg></button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="projectSWrap">
            <ul>
                <li>
                    <picture>
                        <source media="(min-width: 1180px)"
                            srcset="../src/img/imgProjects/imgForDekstop/img-1.png 1x, ../src/img/imgProjects/imgForDekstop/img2xD-1.png 2x">
                        <source media="(min-width: 768px)"
                            srcset="../src/img/imgProjects/imgForTablet/img-1.png 1x, ../src/img/imgProjects/imgForTablet/img2xT-1.png 2x">
                        <source media="(min-width: 321px)"
                            srcset="../src/img/imgProjects/imgForMobile/img-1.png 1x, ../src/img/imgProjects/imgForMobile/img2xM-1.png 2x"
                            alt="walletW">
                        <img src="../src/img/imgProjects/imgForDekstop/img-1.png" alt="">
                    </picture>
                </li>
                <li>
                    <p class="projectTextTech">react, java script, node js, git</p>
                </li>
                <li>
                    <div class="wrapBtnText">
                        <p class="projectTextTitle">green harvest webservice</p>
                        <button type="submit" class="projectBtnVisit">visit<svg class="arrSvg" height="24" width="24">
                                <use href="../src/img/icons.svg#icon-iconarrow"></use>
                            </svg></button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="projectTWrap">
            <ul>
                <li>
                    <picture>
                        <source media="(min-width: 1180px)"
                            srcset="./src/img/imgProjects/imgForDekstop/img-2.png 1x, ./src/img/imgProjects/imgForDekstop/img2xD-2.png 2x">
                        <source media="(min-width: 768px)"
                            srcset="./src/img/imgProjects/imgForTablet/img-2.png 1x, ./src/img/imgProjects/imgForTablet/img2xT-2.png 2x">
                        <source media="(min-width: 321px)"
                            srcset="./src/img/imgProjects/imgForMobile/img-2.png 1x, ./src/img/imgProjects/imgForMobile/img2xM-2.png 2x"
                            alt="walletW">
                        <img src="./src/img/imgProjects/imgForDekstop/img-2.png" alt="">
                    </picture>
                </li>
                <li>
                    <p class="projectTextTech">react, java script, node js, git</p>
                </li>
                <li>
                    <div class="wrapBtnText">
                        <p class="projectTextTitle">english exellence webservice</p>
                        <button type="submit" class="projectBtnVisit">visit<svg class="arrSvg" height="24" width="24">
                                <use href="./src/img/icons.svg#icon-iconarrow"></use>
                            </svg></button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="LoadImg"></div>
        <button class="projectBtnLoad">load more
        </button>
    </div>
</section>