<section class="myProject" id="projects">
    <div class="container">
        <h2 class="mainNotice">my<span class="noticeSpan">projects</span></h2>
        <div class="projectFWrap">
            <picture>
                <source media="(min-width: 1158px)"
                    srcset="/src/img/imgForDekstop/img.png 1x, /src/img/imgForDekstop/img2xD.png 2x">
                <source media="(min-width: 768px)"
                    srcset="/src/img/imgForTablet/img.png 1x , /src/img/imgForTablet/img2xT.png 2x">
                <source media="(max-width: 360px)"
                    srcset="/src/img/imgForMobile/img.png 1x, /src/img/imgForMobile/img2xM.png 2x" alt="walletW">
                <img src="/src/img/imgForDekstop/img.png" alt="walletW">
            </picture>
            <p class="projectTextTech">react, java script, node js, git</p>
            <p class="projectTextTitle">wallet webservice</p>
            <button class="projectBtnVisit">visit<svg height="24" width="24" class="arrowSvg">
                    <use href=""></use>
                </svg></button>
        </div>
        <div class="projectSWrap">
            <picture>
                <source media="(min-width: 1158px)"
                    srcset="/src/img/imgForDekstop/img-1.png 1x, /src/img/imgForDekstop/img2xD-1.png 2x">
                <source media="(min-width: 768px)"
                    srcset="/src/img/imgForTablet/img-1.png 1x, /src/img/imgForTablet/img2xT-1.png 2x">
                <source media="(max-width: 360px)"
                    srcset="/src/img/imgForMobile/img-1.png 1x, /src/img/imgForMobile/img2xM-1.png 2x" alt="walletW">
                <img src="/src/img/imgForDekstop/img-1.png" alt="">
            </picture>
            <p class="projectTextTech">react, java script, node js, git</p>
            <p class="projectTextTitle">green harvest webservice</p>
            <button class="projectBtnVisit">visit</button>
        </div>
        <div class="projectTWrap">
            <picture>
                <source media="(min-width: 1158px)"
                    srcset="/src/img/imgForDekstop/img-2.png 1x, /src/img/imgForDekstop/img2xD-2.png 2x">
                <source media="(min-width: 768px)"
                    srcset="/src/img/imgForTablet/img-2.png 1x, /src/img/imgForTablet/img2xT-2.png 2x">
                <source media="(max-width: 360px)"
                    srcset="/src/img/imgForMobile/img-2.png 1x, /src/img/imgForMobile/img2xM-2.png 2x" alt="walletW">
                <img src="/src/img/imgForDekstop/img-2.png" alt="">
            </picture>
            <p class="projectTextTech">react, java script, node js, git</p>
            <p class="projectTextTitle">english exellence</p>
            <button class="projectBtnVisit">visit</button>
        </div>
        <button class="projectBtnLoad">load more
        </button>
    </div>
</section>