<section class="questions-section" data-theme="light">
    <h2 class="questions-section-header" data-theme="light">Frequently asked <span class="question-accent"
            data-theme="light">question</span></h2>
    <ul id="questions-list">
        <li class="question-item ac" data-theme="light">
            <div class="question-header-container ac-header">
                <h3 class="question-header" data-theme="light">What programming languages are most often used in
                    your project?</h3>
                <button type="button" class="ac-trigger">
                    <svg class="question-button-image" data-theme="light" xmlns="http://www.w3.org/2000/svg" width="12"
                        height="12">
                        <use href="./img/icons.svg#icon-button-image"></use>
                    </svg>
                </button>
            </div>
            <div class="ac-panel">
                <p class="question-description ac-text" data-theme="light">In the field of web development, there
                    are
                    various
                    technologies and
                    programming languages. Typically,
                    this includes a combination of frontend (client side) and backend (server side) languages.</p>
            </div>
        </li>
        <li class="question-item ac" data-theme="light">
            <div class="question-header-container ac-header">
                <h3 class="question-header" data-theme="light">What are the deadlines for the project?</h3>
                <button type="button" class="ac-trigger">
                    <svg class="question-button-image" data-theme="light" xmlns="http://www.w3.org/2000/svg" width="12"
                        height="12">
                        <use href="./img/icons.svg#icon-button-image"></use>
                    </svg>
                </button>
            </div>
            <div class="ac-panel">
                <p class="question-description ac-text" data-theme="light">The terms of project implementation
                    depend to a
                    large
                    extent on a number
                    of factors, such as the
                    scope of the project,
                    its complexity, and the availability of resources. Determining exact deadlines is a difficult task,
                    and it usually
                    occurs during the planning phase of the project.</p>
            </div>
        </li>
        <li class="question-item ac" data-theme="light">
            <div class="question-header-container ac-header">
                <h3 class="question-header" data-theme="light">What payment methods do you accept?</h3>
                <button type="button" class="ac-trigger">
                    <svg class="question-button-image" data-theme="light" xmlns="http://www.w3.org/2000/svg" width="12"
                        height="12">
                        <use href="./img/icons.svg#icon-button-image"></use>
                    </svg>
                </button>
            </div>
            <div class="ac-panel">
                <p class="question-description ac-text" data-theme="light">Payment through credit and debit cards
                    such as
                    Visa,
                    MasterCard,
                    specialized electronic payment
                    systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and
                    others.</p>
            </div>
        </li>
        <li class="question-item ac" data-theme="light">
            <div class="question-header-container ac-header">
                <h3 class="question-header" data-theme="light">How can I contact you?</h3>
                <button type="button" class="ac-trigger">
                    <svg class="question-button-image" data-theme="light" xmlns="http://www.w3.org/2000/svg" width="12"
                        height="12">
                        <use href="./img/icons.svg#icon-button-image"></use>
                    </svg>
                </button>
            </div>
            <div class="ac-panel">
                <p class="question-description ac-text" data-theme="light">In the field of web development, there
                    are
                    various
                    technologies and
                    programming languages. Typically,
                    this includes a
                    combination of frontend (client side) and backend (server side) languages.</p>
            </div>
        </li>
        <li class="question-item ac" data-theme="light">
            <div class="question-header-container ac-header">
                <h3 class="question-header" data-theme="light">Do you provide advice or support?</h3>
                <button type="button" class="ac-trigger">
                    <svg class="question-button-image" data-theme="light" xmlns="http://www.w3.org/2000/svg" width="12"
                        height="12">
                        <use href="./img/icons.svg#icon-button-image"></use>
                    </svg>
                </button>
            </div>
            <div class="ac-panel">
                <p class="question-description ac-text" data-theme="light">The terms of project implementation
                    depend to a
                    large
                    extent on a number
                    of factors, such as the
                    scope of the project,
                    its complexity, and the availability of resources. Determining exact deadlines is a difficult task,
                    and it usually
                    occurs during the planning phase of the project.</p>
            </div>
        </li>
        <li class="question-item ac" data-theme="light">
            <div class="question-header-container ac-header">
                <h3 class="question-header" data-theme="light">What does the process of developing a software
                    product look like from idea to implementation?
                </h3>
                <button type="button" class="ac-trigger">
                    <svg class="question-button-image" data-theme="light" xmlns="http://www.w3.org/2000/svg" width="12"
                        height="12">
                        <use href="./img/icons.svg#icon-button-image"></use>
                    </svg>
                </button>
            </div>
            <div class="ac-panel">
                <p class="question-description ac-text" data-theme="light">Payment through credit and debit cards
                    such as
                    Visa,
                    MasterCard,
                    specialized electronic payment
                    systems such as PayPal,
                    as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
            </div>
        </li>
    </ul>
</section>