<section class="section-reviews" id="reviews">
  <div class="container">
    <h2 class="title-reviews">REVIEWS</h2>
    <div class="swiper">
      <div class="swiper-wrapper carousel-wrapper"></div>
      <p class="error-message hidden">Not found</p>
      <div class="reviews-navigation">
        <button
          class="nav-button btn-prev disabled"
          aria-label="Previous review"
        >
          <svg class="nav-icon">
            <use href="./img/arrow.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button>
        <button class="nav-button btn-next" aria-label="Next review">
          <svg class="nav-icon">
            <use href="./img/arrow.svg#icon-arrow-narrow-right-1"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>  