<section class="tech-skills">
  <h2 class="visually-hidden">Technical Skills</h2>
  <div class="wrap">
    <div class="items-wrap upper-background" id="tech-skills-upper">
      <div class="items marquee">
        <svg class="upper-dots" width="8" height="8">
          <use href="./img/icons.svg#icon-dot"></use>
        </svg>
        <a target="_blank"
           href="https://www.edu.goit.global/uk/learn/24554709/17039071/17039078/training">
          <div class="item item-upper">HTML/CSS</div>
        </a>
        <svg class="upper-dots" width="8" height="8">
          <use href="./img/icons.svg#icon-dot"></use>
        </svg>
        <a target="_blank"
           href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">
          <div class="item item-upper">JavaScript</div>
        </a>
        <svg class="upper-dots" width="8" height="8">
          <use href="./img/icons.svg#icon-dot"></use>
        </svg>
        <a target="_blank"
           href="https://react.dev/">
          <div class="item item-upper">React</div>
        </a>
        <svg class="upper-dots" width="8" height="8">
          <use href="./img/icons.svg#icon-dot"></use>
        </svg>
        <a target="_blank"
           href="https://nodejs.dev/">
          <div class="item item-upper">Node.js</div>
        </a>
        <svg class="upper-dots" width="8" height="8">
          <use href="./img/icons.svg#icon-dot"></use>
        </svg>
        <a target="_blank"
           href="https://reactnative.dev/">
          <div class="item item-upper">React Native</div>
        </a>
        <svg class="upper-dots" width="8" height="8">
          <use href="./img/icons.svg#icon-dot"></use>
        </svg>
        <a target="_blank"
           href="https://www.typescriptlang.org/">
          <div class="item item-upper">Typescript</div>
        </a>
      </div>
      <div aria-hidden="true" class="items marquee ">
        <svg class="upper-dots" width="8" height="8">
          <use href="./img/icons.svg#icon-dot"></use>
        </svg>
        <a target="_blank"
           href="https://www.edu.goit.global/uk/learn/24554709/17039071/17039078/training">
          <div class="item item-upper">HTML/CSS</div>
        </a>
        <svg class="upper-dots" width="8" height="8">
          <use href="./img/icons.svg#icon-dot"></use>
        </svg>
        <a target="_blank"
           href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">
          <div class="item item-upper">JavaScript</div>
        </a>
        <svg class="upper-dots" width="8" height="8">
          <use href="./img/icons.svg#icon-dot"></use>
        </svg>
        <a target="_blank"
           href="https://react.dev/">
          <div class="item item-upper">React</div>
        </a>
        <svg class="upper-dots" width="8" height="8">
          <use href="./img/icons.svg#icon-dot"></use>
        </svg>
        <a target="_blank"
           href="https://nodejs.dev/">
          <div class="item item-upper">Node.js</div>
        </a>
        <svg class="upper-dots" width="8" height="8">
          <use href="./img/icons.svg#icon-dot"></use>
        </svg>
        <a target="_blank"
           href="https://reactnative.dev/">
          <div class="item item-upper">React Native</div>
        </a>
        <svg class="upper-dots" width="8" height="8">
          <use href="./img/icons.svg#icon-dot"></use>
        </svg>
        <a target="_blank"
           href="https://www.typescriptlang.org/">
          <div class="item item-upper">Typescript</div>
        </a>
      </div>
    </div>


    <div class="items-wrap rotate lower-background" id="tech-skills-lower">
      <div class="items marquee reverse ">
        <svg class="lower-dots" width="8" height="8">
          <use href="./img/icons.svg#icon-dot"></use>
        </svg>
        <a target="_blank"
           href="https://www.edu.goit.global/uk/learn/24554709/17039071/17039078/training">
          <div class="item item-lower">HTML/CSS</div>
        </a>
        <svg class="lower-dots" width="8" height="8">
          <use href="./img/icons.svg#icon-dot"></use>
        </svg>
        <a target="_blank"
           href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">
          <div class="item item-lower">JavaScript</div>
        </a>
        <svg class="lower-dots" width="8" height="8">
          <use href="./img/icons.svg#icon-dot"></use>
        </svg>
        <a target="_blank"
           href="https://react.dev/">
          <div class="item item-lower">React</div>
        </a>
        <svg class="lower-dots" width="8" height="8">
          <use href="./img/icons.svg#icon-dot"></use>
        </svg>
        <a target="_blank"
           href="https://nodejs.dev/">
          <div class="item item-lower">Node.js</div>
        </a>
        <svg class="lower-dots" width="8" height="8">
          <use href="./img/icons.svg#icon-dot"></use>
        </svg>
        <a target="_blank"
           href="https://reactnative.dev/">
          <div class="item item-lower">React Native</div>
        </a>
        <svg class="lower-dots" width="8" height="8">
          <use href="./img/icons.svg#icon-dot"></use>
        </svg>
        <a target="_blank"
           href="https://www.typescriptlang.org/">
          <div class="item item-lower">Typescript</div>
        </a>
      </div>
      <div aria-hidden="true" class="items marquee reverse ">
        <svg class="lower-dots" width="8" height="8">
          <use href="./img/icons.svg#icon-dot"></use>
        </svg>
        <a target="_blank"
           href="https://www.edu.goit.global/uk/learn/24554709/17039071/17039078/training">
          <div class="item item-lower">HTML/CSS</div>
        </a>
        <svg class="lower-dots" width="8" height="8">
          <use href="./img/icons.svg#icon-dot"></use>
        </svg>
        <a target="_blank"
           href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">
          <div class="item item-lower">JavaScript</div>
        </a>
        <svg class="lower-dots" width="8" height="8">
          <use href="./img/icons.svg#icon-dot"></use>
        </svg>
        <a target="_blank"
           href="https://react.dev/">
          <div class="item item-lower">React</div>
        </a>
        <svg class="lower-dots" width="8" height="8">
          <use href="./img/icons.svg#icon-dot"></use>
        </svg>
        <a target="_blank"
           href="https://nodejs.dev/">
          <div class="item item-lower">Node.js</div>
        </a>
        <svg class="lower-dots" width="8" height="8">
          <use href="./img/icons.svg#icon-dot"></use>
        </svg>
        <a target="_blank"
           href="https://reactnative.dev/">
          <div class="item item-lower">React Native</div>
        </a>
        <svg class="lower-dots" width="8" height="8">
          <use href="./img/icons.svg#icon-dot"></use>
        </svg>
        <a target="_blank"
           href="https://www.typescriptlang.org/">
          <div class="item item-lower">Typescript</div>
        </a>
      </div>
    </div>
  </div>
</section>
