:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/impact.ttf') format('truetype');
  }
  font-family: Impact, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  /*min-width: 100vw;*/
  /*min-height: 100vh;*/
  margin: 0;
  background-color: var(--color-bg);
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}
