.mobile-menu {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu[data-theme='light'] {
    background-color: #f0f0f0;
}

.mobile-menu[data-theme='dark'] {
    background-color: #1e2023;
}


.mobile-menu.is-open {
    overflow: auto;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-first {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 360px;
    height: 64px;
}

.modal-first[data-theme='light'] {
    background-color: #f0f0f0;
}

.modal-first[data-theme='dark'] {
    background-color: #1e2023;
}

.logo-text {
    font-family: "Impact", sans-serif;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-left: 20px;
    display: block;
}

.logo-text[data-theme='light'] {
    color: #292929;
}
.logo-text[data-theme='dark'] {
    color: #f0f0f0;
}

.logo-span[data-theme='light'] {
    color: #00b068;
}

.logo-span[data-theme='dark'] {
    color: #14c57c;
}

.modal-close-bth-icon {
    width: 32px;
    height: 32px;
    padding: 0;
}

.modal-close-bth-icon[data-theme='light'] {
    fill: #292929;
}

.modal-close-bth-icon[data-theme='dark'] {
    fill: #f0f0f0;
}

.modal-close-bth {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0;
}

.modal-close-bth[data-theme='light'] {
    background-color: #f0f0f0;
}

.modal-close-bth[data-theme='dark'] {
    background-color: #1e2023;
}

.modal-second {
    width: 320px;
    margin-top: 276px;
}

.modal-nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
}

.modal-nav-item:not(:last-child) {
    margin-bottom: 24px;
}

.modal-nav-link {
    cursor: default;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
}

.modal-nav-link[data-theme='light'] {
    color: #292929;
}

.modal-nav-link[data-theme='dark'] {
    color: #f0f0f0;
}

.modal-nav-link:hover[data-theme='light'] {
    color: #00b068;
}

.modal-nav-link:hover[data-theme='dark'] {
    color: #14c57c;
}


@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}