/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./common.css');
@import url('./header.css');
@import url('./mobile-menu.css');
@import url('./about-me.css');
@import url('./tech-skills.css');
@import url('./benefits.css');
@import url('./question-section.css');
@import url('./work-together.css');
@import url('./reviews.css');


:root {
  --font-family: 'Poppins', sans-serif;
  --second-family: 'Impact', sans-serif;
  --third-family: 'Montserrat', sans-serif;
  /*--color-dark: #040306;*/
  /*--color-dark-blue: #0e1823;*/
  /*--color-dark-green: #1b414b;*/
  /*--color-light: #fbfbfb;*/

  --color-black: #292929;
  --color-accet-green: #00b068;
  --color-white: #f0f0f0;
  --color-light-gray: #e4e5e6;
  --color-light-accet: #bcdfd1;
  --color-error: #e74a3b;
  --color-hover-grey: #bbbbbb;

  --color-black-dt: #1e2023;
  --color-accet-green-dt: #14c57c;
  --color-white-dt: #f0f0f0;
  --color-charcoal-dt: #2a2d32;
  --color-dark-accet-dt: #204136;
  --color-hover-charcoal-dt: #3b3f45;
}

[data-theme='light'] {
  /*  --color-black: #292929;*/
  /*  --color-white: #F0F0F0;*/
  /*  --color-accet: #00B068;*/
  --color-bg: var(--color-white);
  /*  --color-input-bg: #E4E5E6;*/
  /*  --color-accet-alternative: #BCDFD1;*/
  /*  --color-hover: #009156;*/
  /*  --color-input-bg-hover: #BBBBBB;*/
}

[data-theme='dark'] {
  --color-bg: var(--color-black-dt);
  /*  --color-accet: #14C57C;*/
  /*  --color-black: #292929;*/
  /*  --color-white: #F0F0F0;*/
  /*  --color-input-bg: #2A2D32;*/
  /*  --color-accet-alternative: #204136;*/
  /*  --color-hover: #009156;*/
  /*  --color-input-bg-hover: #3B3F45;*/
}
