/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./common.css');
@import url('./tech-skills.css');
@import url('./footer.css');


:root {
  --font-family: "Poppins", sans-serif;
  --second-family: "Impact", sans-serif;
  --third-family: "Montserrat", sans-serif;
  /*--color-dark: #040306;*/
  /*--color-dark-blue: #0e1823;*/
  /*--color-dark-green: #1b414b;*/
  /*--color-light: #fbfbfb;*/

  --color-black: #292929;
  --color-accet-green: #00B068;
  --color-white: #F0F0F0;
  --color-light-gray: #E4E5E6;
  --color-light-accet: #BCDFD1;
  --color-error: #E74A3B;
  --color-hover-grey: #BBBBBB;

  --color-black-dt: #1E2023;
  --color-accet-green-dt: #14C57C;
  --color-white-dt: #F0F0F0;
  --color-charcoal-dt: #2A2D32;
  --color-dark-accet-dt: #204136;
  --color-hover-charcoal-dt: #3B3F45;
}

[data-theme="light"] {
  /*  --color-black: #292929;*/
  /*  --color-white: #F0F0F0;*/
  /*  --color-accet: #00B068;*/
  --color-bg: var(--color-white);
  /*  --color-input-bg: #E4E5E6;*/
  /*  --color-accet-alternative: #BCDFD1;*/
  /*  --color-hover: #009156;*/
  /*  --color-input-bg-hover: #BBBBBB;*/
}

[data-theme="dark"] {
  --color-bg: var(--color-black-dt);
  /*  --color-accet: #14C57C;*/
  /*  --color-black: #292929;*/
  /*  --color-white: #F0F0F0;*/
  /*  --color-input-bg: #2A2D32;*/
  /*  --color-accet-alternative: #204136;*/
  /*  --color-hover: #009156;*/
  /*  --color-input-bg-hover: #3B3F45;*/
}